@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:900');
*{margin: 0;padding: 0;box-sizing: border-box;}
body {	
  text-align: center;
  font-family: Helvetica;
  font-size: 18px; line-height: 1.5em; color: #898989;
}

h1 {
  font-family: 'Elsie Swash Caps', cursive; font-size: 98px; color: white;
}

p {
  font-family: Helvetica;
  font-size: 18px; line-height: 1.5em; color: #898989;
}
ul {
    text-align: center;
    list-style-type: none;
}
img{display: block;width: 100%;}
#main_image{position: relative;}
#main_image h1{position: absolute;top: 50%; left: 50%;transform: translate(-50%,-50%);}
