<style>
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
</style>;

*{margin: 0;padding: 0;box-sizing: border-box;}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav{
	font-size: 18px; font-family: 'Zilla Slab', serif; color: black;
	background-color: #E8C66A;
	text-transform: uppercase;
}

body {	
  text-align: center;
  font-family: 'Zilla Slab', serif;
  font-size: 18px; font-weight: 300; line-height: 1.5em; color: black;
}

h1 {
  font-family: 'Zilla Slab', serif; font-size: 98px; font-weight: 300; color: white;
}

h2 {
  font-family: 'Zilla Slab', serif; font-size: 32px; line-height: 1.0em; font-weight: 300; color: #000000;
}

p {
  font-family: 'Zilla Slab', serif;
  font-size: 18px; font-weight: 400; line-height: 1.5em; color: black;
}

a {	
	color: white; 
	text-transform: uppercase;
	text-decoration: none;

}



footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}


img{display: block;width: 100%;}
#main_image{position: relative;}
#main_image h1{position: absolute;top: 50%; left: 50%;transform: translate(-50%,-50%);}
